* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #89C15E;
    height: 100vh;
    width: 100%;
    position: relative;
}

header {
    padding: 10px;
    color: white;
    position: absolute;
    margin: 7px 357px;
    font-family: Roboto;
}

.score-board {
    width: 800px;
    height: 158px;
    border: 2px solid white;
    border-radius: 13px;
    font-size: 40px;
    margin: 15px 352px;
    padding: 15px 20px;
    position: relative;
}


.badge {
    background: white;
    padding: 2px 12px;
    font-size: 20px;
}

#user-label {
    position: absolute;
    top: 25px;
    left: 500px;
    color: #656565;
    width: 139px;
    height: 128px;
    border-radius: 9px;
    padding: 5px 0px 5px 0px;
    margin: -10px;
    font-weight: bold;
    text-align: center;
}

#computer-label {
    position: absolute;
    top: 25px;
    right: 25px;
    color: #656565;
    width: 139px;
    height: 128px;
    border-radius: 9px;
    padding: 5px 0px 5px 0px;
    margin: -10px;
    font-weight: bold;
    text-align: center;
}

#user-score {
    position: absolute;
    font-size: 1.4em;
    font-weight: bold;
    padding: 3px;
    top: 60px;
    left: 545px;
}

#computer-score {
    position: absolute;
    font-size: 1.4em;
    font-weight: bold;
    padding: 3px;
    top: 60px;
    left: 695px;
}

/* .result {
    font-size: 30px;
    margin: 20px 0;
} */

#r {
    border: 16px solid #0074B6;
    width: 110px;
    height: 110px;
    margin: 15px 600px;
    border-radius: 50%;
    padding: 5px 0;
    background: white;
    cursor: pointer;
    position: relative;
    text-align: center;
}

#p {
    border: 16px solid #FFA943;
    width: 110px;
    height: 110px;
    margin: 200px 700px;
    border-radius: 50%;
    padding: 5px 0;
    background: white;
    cursor: pointer;
    text-align: center;
}

#s {
    border: 16px solid #BD00FF;
    width: 110px;
    height: 110px;
    margin: -500px 800px;
    border-radius: 50%;
    padding: 5px 0;
    background: white;
    cursor: pointer;
    text-align: center;

}

.hr-r {
    border: 7px solid #000000A3;
    width: 92px;
    margin: -75px 710px;
}

.hr-p {
    border: 7px solid #000000A3;
    width: 107px;
    margin: -355px 650px;
    rotate: 55deg;
    position: absolute;
}

.hr-s {
    border: 7px solid #000000A3;
    width: 107px;
    margin: -355px 755px;
    rotate: -55deg;
    position: absolute;
}

#rule {
    width: 174px;
    height: 44px;
    border-radius: 9px;
    font-size: 20px;
    float: right;
    color: white;
    background-color: #89C15E;
    border: 2px solid white;
    margin: -60px 60px;
}

#reset{
    width: 174px;
    height: 44px;
    border-radius: 9px;
    font-size: 20px;
    float: right;
    color: white;
    background-color: #89C15E;
    border: 2px solid white;
    margin: -60px 250px;

}

.rules-container {
    position: absolute;
    right: 60px;
    top: 230px;
    color: white;
    background-color: #004429;
    border: 7px solid white;
    border-radius: 13px;
    padding: 15px;
}

.rule-h {
    text-align: center;
    font-size: 29px;
}

.r-1, .r-2, .r-3, .r-4 {
    display: flex;
    margin: 7px;
}

.rule-1, .rule-2, .rule-3, .rule-4 {

    background-color: yellow;
    width: 10px;
    height: 10px;
    margin: 15px;
}

.cross > img{
    border: 5px solid white;
    border-radius: 50%;
    background: red;
    padding: 7px;
    position: absolute;
    top: -30px;
    left: 300px;
}
