* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #89C15E;
    height: 100vh;
    width: 100%;
    position: relative;
    text-align: center;
}

header {
    padding: 10px;
    color: white;
    position: absolute;
    margin: 7px 357px;
    font-family: Roboto;
}

.score-board {
    width: 800px;
    height: 158px;
    border: 2px solid white;
    border-radius: 13px;
    font-size: 40px;
    margin: 15px 352px;
    padding: 15px 20px;
    position: relative;
}


.badge {
    background: white;
    padding: 2px 12px;
    font-size: 20px;
}

#user-label {
    position: absolute;
    top: 25px;
    left: 500px;
    color: #656565;
    width: 139px;
    height: 128px;
    border-radius: 9px;
    padding: 5px 0px 5px 0px;
    margin: -10px;
    font-weight: bold;
    text-align: center;
}

#computer-label {
    position: absolute;
    top: 25px;
    right: 25px;
    color: #656565;
    width: 139px;
    height: 128px;
    border-radius: 9px;
    padding: 5px 0px 5px 0px;
    margin: -10px;
    font-weight: bold;
    text-align: center;
}

#user-score {
    position: absolute;
    font-size: 1.4em;
    font-weight: bold;
    padding: 3px;
    top: 60px;
    left: 545px;
}

#computer-score {
    position: absolute;
    font-size: 1.4em;
    font-weight: bold;
    padding: 3px;
    top: 60px;
    left: 695px;
}

.user-picked{
    color: white;
    position: relative;
    left: -280px;
    top: 100px;
}

.computer-picked{
    color: white;
    position: relative;
    right: -240px;
    top: 50px;
}

.result {
    font-size: 30px;
    position: relative;
    color: white;
    font-weight: bold;
    top: 172px;
    position: relative;
}

#play-again{
    width: 174px;
    height: 44px;
    border-radius: 9px;
    font-size: 15px;
    color: #6B6B6B;
    background-color: white;
    border: 2px solid white;
    top: 200px;
    right: 10px;
    position: relative;
}

#r {
    border: 16px solid #0074B6;
    width: 110px;
    height: 110px;
    top: 100px;
    left: 420px;
    border-radius: 50%;
    padding: 5px 0;
    background: white;
    cursor: pointer;
    position: relative;
    text-align: center;
}

#p {
    border: 16px solid #FFA943;
    width: 110px;
    height: 110px;
    top: -10px;
    left: 420px;
    border-radius: 50%;
    padding: 5px 0;
    background: white;
    cursor: pointer;
    text-align: center;
    position: relative;
}

#s {
    border: 16px solid #BD00FF;
    width: 110px;
    height: 110px;
    top: -120px;
    left: 420px;
    border-radius: 50%;
    padding: 5px 0;
    background: white;
    cursor: pointer;
    text-align: center;
    position: relative;
}

#r-c {
    border: 16px solid #0074B6;
    width: 110px;
    height: 110px;
    top: -230px;
    right: -950px;
    border-radius: 50%;
    padding: 5px 0;
    background: white;
    cursor: pointer;
    position: relative;
    text-align: center;
}

#p-c {
   border: 16px solid #0074B6;
    width: 110px;
    height: 110px;
    top: -340px;
    right: -950px;
    border-radius: 50%;
    padding: 5px 0;
    background: white;
    cursor: pointer;
    position: relative;
    text-align: center;
}

#s-c {
    border: 16px solid #0074B6;
    width: 110px;
    height: 110px;
    top: -450px;
    right: -950px;
    border-radius: 50%;
    padding: 5px 0;
    background: white;
    cursor: pointer;
    position: relative;
    text-align: center;
}

#rule {
    width: 174px;
    height: 44px;
    border-radius: 9px;
    font-size: 20px;
    color: white;
    background-color: #89C15E;
    border: 2px solid white;
    float: right;
    top: -310px;
    right: 230px;
    position: relative;
}

#next {
    width: 174px;
    height: 44px;
    border-radius: 9px;
    font-size: 20px;
    color: white;
    background-color: #89C15E;
    border: 2px solid white;
    float: right;
    top: -310px;
    left: 150px;
    position: relative;
}

.rules-container {
    position: absolute;
    right: 60px;
    top: 230px;
    color: white;
    background-color: #004429;
    border: 7px solid white;
    border-radius: 13px;
    padding: 15px;
}

.rule-h {
    text-align: center;
    font-size: 29px;
}

.r-1,
.r-2,
.r-3,
.r-4 {
    display: flex;
    margin: 7px;
}

.rule-1,
.rule-2,
.rule-3,
.rule-4 {

    background-color: yellow;
    width: 10px;
    height: 10px;
    margin: 15px;
}

.cross>img {
    border: 5px solid white;
    border-radius: 50%;
    background: red;
    padding: 7px;
    position: absolute;
    top: -30px;
    left: 300px;
}