
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(236, 219, 189);
}

.container{
    background-color: aquamarine;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.value{
    display: flex;
}