#gameboard{
    background-color: black;
    width: 320px;
    height: 320px;
    display: flex;
    flex-wrap: wrap;
}

.square{
    width: 40px;
    height: 40px;
    position: relative;
}

.square svg{
    width: 30px;
    height: 30px;
    margin: 5px;
    position: relative;
    z-index: -9;
}

path{
    position: relative;
    z-index: -10;
}

.piece{
    position: relative;
    z-index: 9;
}

.beige{
    background-color: gray;
}

.brown{
    background-color: brown;
}

.black{
    fill: #1c1c1c;
}

.white{
    fill: white;
}