* {
    box-sizing: border-box;
}

body {
    background-color: #48A30012;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

main {
    padding: 0px 16px 32px;
}

.title {
    color: #48A300;
    font-size: 64px;
    text-align: center;
}

.title span {
    color: #61481C;
}

.app-container {
    /* background-color: #FBFBFB; */
    max-width: 660px;
    margin-inline: auto;
    border-radius: 15px;
    padding: 32px 48px;
    background-color: #1900ff;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgb(240, 9, 124));
    box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.1);
}

.image-container {
    position: relative;
    display: inline-block;
}

.sun-icon {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    animation: rotate 3s linear infinite;
}

.inner-img {
    vertical-align: middle;
    position: absolute;
    top: 44%;
    left: 38%;
    width: 10px;
    height: 10px;
}


.progress-label {
    color: #858585;
    font-size: 14px;
    margin-bottom: 20px;
}

.progress-bar {
    background-color: #75ff0549;
    height: 30px;
    border-radius: 15px;
    margin-bottom: 42px;
}

.progress-value {
    background-color: #48A300;
    border-radius: 15px;
    height: 100%;
    width: 0;
    font-weight: 500;
    font-size: 10px;
    color: #EEFFE0;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: width 0.2s ease-in-out;

}

.progress-value span {
    padding-left: 20px;
    min-width: max-content;
}

.error-label {
    color: #FF5151;
    font-size: 12px;
    margin-top: 4px;
    display: none;


}

.show-error .error-label {
    display: block;
}

.goal-container {

    border-radius: 17px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background-color: #ffffff;
    height: 82px;
    display: flex;
    align-items: center;
    padding: 0px 22px;
    margin-bottom: 42px;


}

.custom-checkbox {
    width: 24px;
    height: 24px;
    border: 2px solid rgba(97, 72, 28, 0.3);
    border-radius: 50%;
    flex-shrink: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.check-icon {
    display: none;
}

.goal-input {
    padding-left: 22px;
    font-family: inherit;
    font-size: 16px;
    outline: none;
    border: none;
    /* flex-grow: 1; */
    align-self: stretch;
    width: 100%;
    font-size: 500;
    transition: all 0.3s ease;
}

.goal-input::placeholder {
    color: #deaf48;
}

.quote {
    font-weight: 500;
    color: #000;
    text-align: center;
}

.goal-input:focus {
    border-color: #007bff;
}

.goal-input::placeholder {
    border-color: #007bff;
}

.goal-input:focus::placeholder {
    border-color: #007bff;
}

.creator {
    font-size: 10px;
    font-weight: 500;
    text-align: center;
    color: #fff536;
    margin-top: 64px;
}

.completed .custom-checkbox {
    background-color: #48A300;
    border-color: #48A300;
}

.completed .check-icon {
    display: block;
}

.completed .goal-input {
    color: #48A300;
    text-decoration-line: line-through;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);

    }

    to {
        transform: rotate(359deg);

    }


}

@media (max-width:768px) {

    .title {
        font-size: 32px;
    }

    .app-container {
        padding: 16px 32px;
    }

    .goal-container {
        height: 64px;
        margin-bottom: 24px;
        border-radius: 12px;
    }

    .custom-checkbox {
        height: 20px;
        width: 20px;
    }

    .creator {
        margin-top: 24px;
    }

    .progress-bar {
        height: 24px;
    }




}